﻿@model DPCWeb.Models.Tbl_Project

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div class="forms">
    <div class="row">
        <h3 class="title1">Delete :</h3>
        <div class="form-three widget-shadow">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Project_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Project_Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Project_Type)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Project_Type)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Project_Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Project_Status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Priority)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Priority)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tbl_Menus.menu_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tbl_Menus.menu_Name)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


    <div class="form-group">
        <div class="col-md-offset-1">
            <div class="col-sm-offset"> <button type="submit" class="btn btn-default">Delete</button>
               | @Html.ActionLink("Back to List", "Index") </div>
            <span class="danger">@ViewBag.ermsg</span>
        </div>
    </div>
    @*<div class="form-group no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>*@
            }
        </div>
        </div>
    </div>
