﻿@model DPCWeb.Models.Tbl_Project

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="forms">
    <div class="row">
        <h3 class="title1">Details :</h3>
        <div class="form-three widget-shadow">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Project_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Project_Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Project_Type)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Project_Type)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Project_Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Project_Status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Priority)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Priority)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tbl_Menus.menu_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tbl_Menus.menu_Name)
                </dd>

            </dl>
        </div>
        </div>
    </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Project_Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
