﻿@model DPCWeb.Models.Tbl_Project

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="forms">
        <div class="row">
            <h3 class="title1">Edit Project :</h3>
            <div class="form-three widget-shadow">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Project_Id)

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Menu</label>
                        <div class="col-md-8">
                            @Html.DropDownList("menu_Id", null, htmlAttributes: new { @class = "form-control1" })
                            @Html.ValidationMessageFor(model => model.menu_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Project Name</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Project_Name, new { htmlAttributes = new { @class = "form-control1" } })
                            @Html.ValidationMessageFor(model => model.Project_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Project Type</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Project_Type, new { htmlAttributes = new { @class = "form-control1" } })
                            @Html.ValidationMessageFor(model => model.Project_Type, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Project Status</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Project_Status, new { htmlAttributes = new { @class = "form-control1" } })
                            @Html.ValidationMessageFor(model => model.Project_Status, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Priority</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control1" } })
                            @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="col-sm-offset"> <button type="submit" class="btn btn-default">Save</button> </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>

