﻿@model IEnumerable<DPCWeb.Models.Tbl_Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

                      <div class="tables">
                          <h2 class="title1">Projects:</h2>
                          <div class="panel-body widget-shadow">



                              <div class="row">
                                  <div class="col-sm-12 col-md-6">
                                      <div class="dataTables_length" id="example2_length">
                                          <a href="@Url.Action("Create")" class="btn btn-info btn-flat btn-pri"><i class="fa fa-plus" aria-hidden="true" style="height: 38px;"></i>Add Project</a>
                                      </div>
                                  </div>
                              </div>
                              <table id="example2" class="table table-bordered table-hover display nowrap" style="width:100%">
                                  <thead>
                                      <tr>
                                          <th>
                                              Project Name
                                          </th>
                                          <th>
                                              Project Type
                                          </th>
                                          <th>
                                              Project Status
                                          </th>
                                          <th>
                                              Priority
                                          </th>
                                          <th>
                                              Menu
                                          </th>
                                          <th></th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      @foreach (var item in Model)
                                      {
                                          <tr>
                                              <td>
                                                  @Html.DisplayFor(modelItem => item.Project_Name)
                                              </td>
                                              <td>
                                                  @Html.DisplayFor(modelItem => item.Project_Type)
                                              </td>
                                              <td>
                                                  @Html.DisplayFor(modelItem => item.Project_Status)
                                              </td>
                                              <td>
                                                  @Html.DisplayFor(modelItem => item.Priority)
                                              </td>
                                              <td>
                                                  @Html.DisplayFor(modelItem => item.Tbl_Menus.menu_Name)
                                              </td>
                                              <td>

                                                  <a href="@Url.Action("Edit", new { id = item.Project_Id })"><i class="glyphicon glyphicon-edit"></i></a>

                                                  <a href="@Url.Action("Details", new { id = item.Project_Id })"><i class="glyphicon glyphicon-list-alt"></i></a>

                                                  <a href="@Url.Action("Delete", new { id = item.Project_Id })"><i class="glyphicon glyphicon-trash"></i></a>


                                          </tr>
                                      }
                                  </tbody>

                              </table>
                          </div>

                      </div>                       
