﻿@model DPCWeb.Models.Tbl_Project_Img

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm("Create", "ProjectImage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="forms">
        <div class="row">
            <h3 class="title1">Add Project Images :</h3>
            <div class="form-three widget-shadow">
                <div class="form-horizontal">
                    
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Project_Id, "Project_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-sm-8">
                            @Html.DropDownList("Project_Id", null, htmlAttributes: new { @class = "form-control1" })
                            @Html.ValidationMessageFor(model => model.Project_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Project_Imgsrc, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            <input type="file" id="file" multiple="" name="imgfile" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])"> <p class="help-block">Image Dimension should be 800*533 Pixel</p>
                            <img id="blah" alt="image" width="100" />
                        </div>
                        <div class="col-sm-2">
                            <p class="help-block" style="color:red">@ViewBag.imgerror</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="col-sm-offset"> <button type="submit" class="btn btn-default">Add</button> </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>

<script type="text/javascript">
    var _URL = window.URL || window.webkitURL;
    $("#file").change(function (e) {
        var file, img;
        if ((file = this.files[0])) {
            img = new Image();
            img.onload = function () {
                if (this.width != 800 && this.height != 533) {
                    swal("Uploaded Image Dimension = " + this.width + " x " + this.height + " is not Allowed \n It should be 800 x 533");
                }

            };
            img.src = _URL.createObjectURL(file);
        }
    });
</script>