﻿@model DPCWeb.Models.Tbl_Project_Img

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h3>Are you sure you want to delete this?</h3>
<div class="forms">
    <div class="row">
        <h3 class="title1">Delete Project Image :</h3>
        <div class="form-three widget-shadow">
            <dl class="dl-horizontal">
                <dt>
                    Project Image
                </dt>

                <dd>
                    <img src="@Model.Project_Imgsrc" width="100" height="100" alt="image" />
                </dd>

                <dt>
                   Project Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tbl_Project.Project_Name)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-offset-1">
            <div class="col-sm-offset">
                <button type="submit" class="btn btn-default">Delete</button>
                | @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>

            
            }
        </div>
        </div>
    </div>
