﻿@model DPCWeb.Models.Tbl_Project_Img

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="forms">
    <div class="row">
        <h3 class="title1">Details :</h3>
        <div class="form-three widget-shadow">
            <dl class="dl-horizontal">
                <dt>
                    Project Image
                </dt>

                <dd>
                    <img src="@Model.Project_Imgsrc" width="100" height="100" alt="image" />
                </dd>

                <dt>
                   Project Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tbl_Project.Project_Name)
                </dd>

            </dl>
        </div>
        </div>
    </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Project_Img_Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
