﻿@model DPCWeb.Models.EntityDashboard
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="charts">
    <div class="mid-content-top charts-grids">
        <div class="middle-content">
            <h4 class="title">Banner <a href="@Url.Action("Index", "Banner", new { area = "admin" })" style="float:right">View More</a></h4>
    <!-- start content_slider -->
    <div id="owl-demo" class="owl-carousel text-center">
        @foreach (var item in Model.Tbl_Banner)
        {
            <div class="item">
                <img class="lazyOwl img-responsive" data-src="@item.ImgSrc" alt="name">
            </div>
        }

    </div>
</div>
        <!--//sreen-gallery-cursual---->
    </div>
</div>

<div class="charts">
    <div class="mid-content-top charts-grids">
        <div class="middle-content">
            <h4 class="title">Projects <a href="@Url.Action("Index", "ProjectImage", new { area = "admin" })" style="float:right">View More</a></h4>
            <!-- start content_slider -->
            <div id="owl-demo1" class="owl-carousel text-center">
                @foreach (var item in Model.Tbl_Project_Img)
                {
                    <div class="item">
                        <img class="lazyOwl img-responsive" data-src="@item.Project_Imgsrc" alt="name">
                    </div>
                }

            </div>
        </div>
        <!--//sreen-gallery-cursual---->
    </div>
</div>

<div class="charts">
    <div class="mid-content-top charts-grids">
        <div class="middle-content">
            <h4 class="title">Team <a href="@Url.Action("Index", "Employee", new { area = "admin" })" style="float:right">View More</a></h4>
            <!-- start content_slider -->
            <div id="owl-demo2" class="owl-carousel text-center">
                @foreach (var item in Model.Tbl_Employee)
                {
                    <div class="item">
                        <img class="lazyOwl img-responsive" data-src="@item.Emp_Img" alt="name">
                    </div>
                }

            </div>
        </div>
        <!--//sreen-gallery-cursual---->
    </div>
</div>