﻿@model IEnumerable<DPCWeb.Models.Tbl_Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- team -->
<div id="team" class="team">
    <div class="container">
        <div class="agileits_w3layouts_heding">
            <p class="white-w3ls">We are awesome people</p>
            <h3 class="white-w3ls">Meet our <span>Team</span></h3>
            <img src="~/Temp/images/head1.png" alt="Lines" />
        </div>

        <!-- Founder -->
       @foreach (var item1 in ViewBag.deptNo as IEnumerable<DPCWeb.Models.Sp_GetDeptCount_Result>)
       {
            <div class="row w3_agile_team_grids team_Grid_Margin">

                
                    @foreach (var item in Model.Where(x => x.Dept_Id == item1.dept_id))
                    {
                        
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 w3_agile_team_grid">
                                <a href="#" data-toggle="modal" data-target="#@item.Emp_Id">
                                    <div class="hover14 column">
                                        <figure>
                                            <img src="@item.Emp_Img" alt="@item.Emp_Name" class="img-responsive" />
                                        </figure>
                                    </div>
                                    <h3>@item.Emp_Name</h3>
                                    <p>@item.Emp_Designation</p>
                                </a>

                                <!-- Modal1 -->
                                <div class="modal fade" id="@item.Emp_Id" tabindex="-1" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <div class="row">
                                                    <div class="col-md-4 img-modal-w3l"><img src="@item.Emp_Img" alt="@item.Emp_Name" class="img-responsive"></div>
                                                    <div class="col-md-8 modal-info">
                                                        <h5>@item.Emp_Name</h5>
                                                        <p>@item.Description</p>
                                                    </div>
                                                </div>
                                                <div class="clearfix"> </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //Modal1 -->
                            </div>
                        
                    }
                 </div>
        }

        
       
        <!-- Founder -->

    </div>
</div>
<!-- team -->