﻿@model DPCWeb.Models.Tbl_Banner

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm("Create", "Banner", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="forms">
        <div class="row">
            <h3 class="title1">Add Banner :</h3>
            <div class="form-three widget-shadow">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control1" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Discription, new { htmlAttributes = new { @class = "form-control1" } })
                            @Html.ValidationMessageFor(model => model.Discription, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Banner Image</label>
                        <div class="col-sm-8">
                            <input type="file" id="file" required="" name="imgfile" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])"> <p class="help-block">Image Dimension should be 1680*900 Pixel</p>
                            <img id="blah" alt="image" width="100" />
                        </div>
                        <div class="col-sm-2">
                            <p class="help-block" style="color:red">@ViewBag.imgerror</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Priority</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control1" } })
                            @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="col-sm-offset"> <button type="submit" class="btn btn-default">Submit</button> </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>

<script type="text/javascript">
    var _URL = window.URL || window.webkitURL;
    $("#file").change(function (e) {
        var file, img;
        if ((file = this.files[0])) {
            img = new Image();
            img.onload = function () {
                if (this.width != 1680 && this.height != 900)
                {
                    swal("Uploaded Image Dimension = " + this.width + " x " + this.height + " is not Allowed \n It should be 1680 x 900");
                }
               
            };
            img.src = _URL.createObjectURL(file);
        }
    });
</script>