﻿@model DPCWeb.Models.Tbl_Banner

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Are you sure you want to delete this?</h3>

<div class="forms">
    <div class="row">
        <h3 class="title1">Delete :</h3>
        <div class="form-three widget-shadow">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Discription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Discription)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ImgSrc)
                </dt>

                <dd>
                    <img src="@Model.ImgSrc" width="100" height="100" alt="image" />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Priority)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Priority)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-offset-1">
            <div class="col-sm-offset">
                <button type="submit" class="btn btn-default">Delete</button>
                | @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
            }
        </div>
        </div>
        </div>
