﻿@model DPCWeb.Models.Tbl_Banner

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="forms">
    <div class="row">
        <h3 class="title1">Details :</h3>
        <div class="form-three widget-shadow">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Discription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Discription)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ImgSrc)
                </dt>

                <dd>
                    <img src="@Model.ImgSrc" width="100" height="100" alt="image" />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Priority)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Priority)
                </dd>

            </dl>
        </div>
        </div>
    </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
