﻿@model IEnumerable<DPCWeb.Models.Tbl_Banner>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

                      <div class="tables">
                          <h2 class="title1">Banner</h2>
                          <div class="panel-body widget-shadow">



                              <div class="row">
                                  <div class="col-sm-12 col-md-6">
                                      <div class="dataTables_length" id="example2_length">
                                          <a href="@Url.Action("Create")" class="btn btn-info btn-flat btn-pri"><i class="fa fa-plus" aria-hidden="true" style="height: 38px;"></i>Add New</a>
                                      </div>
                                  </div>
                              </div>
                              <table id="example2" class="table table-bordered table-hover display nowrap" style="width:100%">
                                  <thead>
                                      <tr>
                                          <th>
                                              Name
                                          </th>
                                          <th>
                                              Description
                                          </th>
                                          <th>
                                             Image
                                          </th>
                                          <th>
                                             Priority
                                          </th>
                                          <th></th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      @foreach (var item in Model)
                                      {
                                        <tr>
                                            <td>
                                                @Html.HiddenFor(modelItem => item.Id)
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Discription)
                                            </td>
                                            <td>
                                               
                                                <img src="@item.ImgSrc" width="45" height="45" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Priority)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Edit", new { id = item.Id })"><i class="glyphicon glyphicon-edit"></i></a>

                                                <a href="@Url.Action("Details", new { id = item.Id })"><i class="glyphicon glyphicon-list-alt"></i></a>

                                                <a href="@Url.Action("Delete", new { id = item.Id })"><i class="glyphicon glyphicon-trash"></i></a>
                                            </td>
                                        </tr>
                                      }
                                  </tbody>

                              </table>
                          </div>

                      </div>
