﻿@model DPCWeb.Models.Tbl_Employee

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Are you sure you want to delete this?</h3>

<div class="forms">
    <div class="row">
        <h3 class="title1">Delete :</h3>
        <div class="form-three widget-shadow">
            <dl class="dl-horizontal">
                <dt>
                    Employee Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Emp_Name)
                </dd>

                <dt>
                    Employee Designation
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Emp_Designation)
                </dd>

                <dt>
                    Employee Image
                </dt>

                <dd>
                    <img src="@Model.Emp_Img" width="100" height="100" alt="image" />
                </dd>

                <dt>
                    Biometric Id
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Biometric_Id)
                </dd>

                <dt>
                    Department Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tbl_Department.Dept_Name)
                </dd>

                <dt>
                    Priority
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Priority)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-offset-1">
            <div class="col-sm-offset">
                <button type="submit" class="btn btn-default">Delete</button>
                | @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
            }
        </div>
        </div>
    </div>
