﻿@model DPCWeb.Models.Tbl_Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="forms">
    <div class="row">
        <h3 class="title1">Details :</h3>
        <div class="form-three widget-shadow">
            <dl class="dl-horizontal">
                <dt>
                    Employee Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Emp_Name)
                </dd>

                <dt>
                    Employee Designation
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Emp_Designation)
                </dd>

                <dt>
                    Employee Image
                </dt>

                <dd>
                    <img src="@Model.Emp_Img" width="100" height="100" alt="image" />
                </dd>

                <dt>
                    Biometric Id
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Biometric_Id)
                </dd>

                <dt>
                   Department Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tbl_Department.Dept_Name)
                </dd>

                <dt>
                    Priority
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Priority)
                </dd>

                <dt>
                    Description
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </dl>
        </div>
        </div>
    </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Emp_Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
