﻿@model DPCWeb.Models.Tbl_Employee

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



@using (Html.BeginForm("Edit","Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="forms">
        <div class="row">
            <h3 class="title1">Edit</h3>
            <div class="form-three widget-shadow">
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Emp_Id)

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Emp_Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Emp_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Designation</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Emp_Designation, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Emp_Designation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Image</label>
                        <div class="col-md-8">
                            <input type="file" id="fileid" name="imgfile" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])" />
                            <input type="hidden" value="@Model.Emp_Img" name="profile" />
                            <img src="@Model.Emp_Img" id="blah" alt="img" width="100" height="100" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Biometric Id</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Biometric_Id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Biometric_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Department</label>
                        <div class="col-md-8">
                            @Html.DropDownList("Dept_Id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Dept_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Priority</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="col-sm-offset"> <button type="submit" class="btn btn-default">Submit</button> </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>


