﻿@model IEnumerable<DPCWeb.Models.Tbl_Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="tables">
    <h2 class="title1">Employees</h2>
    <div class="panel-body widget-shadow">
     
        

        <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="example2_length">
            <a href="@Url.Action("Create")" class="btn btn-info btn-flat btn-pri"><i class="fa fa-plus" aria-hidden="true" style="height: 38px;"></i>Add New</a></div></div></div>
        <table id="example2" class="table table-bordered table-hover display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Emp Name
                    </th>
                    <th>
                        Designation
                    </th>

                    <th>
                        Biometric Id
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        Edit/Details/Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(modelItem => item.Emp_Id)
                            <img src="@item.Emp_Img" width="45" height="45" />
                            @*@Html.DisplayFor(modelItem => item.Emp_Img)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Emp_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Emp_Designation)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Biometric_Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Priority)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tbl_Department.Dept_Name)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.Emp_Id })"><i class="glyphicon glyphicon-edit"></i></a>

                            <a href="@Url.Action("Details", new { id = item.Emp_Id })"><i class="glyphicon glyphicon-list-alt"></i></a>

                            <a href="@Url.Action("Delete", new { id = item.Emp_Id })"><i class="glyphicon glyphicon-trash"></i></a>

                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
  
</div>


      

