﻿<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Design Point Consult</title>
    <link rel="icon" href="~/Temp/images/Logo1.png" type="image/gif" sizes="16x16">
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Design Point ConsultResponsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/Temp/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Temp/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link href="~/Temp/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/Temp/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Temp/css/flexslider.css" type="text/css" media="screen" property="" />
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js"></script>
    <!-- font-awesome-icons -->
    <link href="~/Temp/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

   
</head>
<body>
   @RenderBody()
    <div class="w3l_footer">
        <div class="container">
            <div class="col-md-4">
                <h2><a href="#"><img src="~/Temp/images/logo200.png" class="imglogo"></a></h2>
            </div>
            <div class="col-md-8 botttom-nav-agileits">
                <ul class="nav-w3ls">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "active" })</li>
                    <li>@Html.ActionLink("About", "Index", "About")</li>
                    <li class="dropdown menu__item">
                        <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Architecture", "Architecture", "Project")</li>
                            <li>@Html.ActionLink("Urban Design", "UrbanDesign", "Project")</li>
                            <li>@Html.ActionLink("Town Planning", "TownPlanning", "Project")</li>
                            <li>@Html.ActionLink("Compitition", "Compitition", "Project")</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Our Team", "Index", "Team")</li>
                    <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                </ul>
                <div class="w3l-social">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://in.linkedin.com/in/b-k-patel-4978ab4b" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a target="_blank" href="https://www.google.co.in/search?dcr=0&amp;source=hp&amp;q=design+point+consult+pvt+ltd&amp;oq=design+point+&amp;gs_l=psy-ab.3.1.0l4.1021.4876.0.6267.13.13.0.0.0.0.303.1880.0j5j3j1.9.0....0...1.1.64.psy-ab..4.9.1880....0.uKq5ByVFpug"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //contact -->
    <!-- footer -->
    <div class="w3_agile_footer">
        <div class="container">
            <p>© 2018 Design Point Consult. All rights reserved</p>
            <div class="arrow-container animated fadeInDown">
                <a href="#home" class="arrow-2 scroll">
                    <i class="fa fa-angle-up"></i>
                </a>
                <div class="arrow-1 animated hinge infinite zoomIn"></div>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- js -->
    <script type="text/javascript" src="~/Temp/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!--banner form script-->
    <script type='text/javascript'>
//<![CDATA[
									$(window).load(function(){
									 $( "#slider-range" ).slider({
												range: true,
												min: 0,
												max: 9000,
												values: [ 1000, 7000 ],
												slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
												}
									 });
									$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );

									});//]]>

    </script>
    <script type="text/javascript" src="~/Temp/js/jquery-ui.js"></script>
    <!--//banner form script-->
    <script src="~/Temp/js/responsiveslides.min.js"></script>
    <script>
						// You can also use "$(window).load(function() {"
						$(function () {
						  // Slideshow 4
						  $("#slider4").responsiveSlides({
							auto: true,
							pager:true,
							nav:false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
							  $('.events').append("<li>before event fired.</li>");
							},
							after: function () {
							  $('.events').append("<li>after event fired.</li>");
							}
						  });

						});
    </script>
    <!--Rersponsive tabs-->
    <script src="~/Temp/js/easy-responsive-tabs.js"></script>
    <script>
$(document).ready(function () {
$('#horizontalTab').easyResponsiveTabs({
type: 'default', //Types: default, vertical, accordion
width: 'auto', //auto or any width like 600px
fit: true,   // 100% fit in a container
closed: 'accordion', // Start closed if in accordion view
activate: function(event) { // Callback function if tab is switched
var $tab = $(this);
var $info = $('#tabInfo');
var $name = $('span', $info);
$name.text($tab.text());
$info.show();
}
});
$('#verticalTab').easyResponsiveTabs({
type: 'vertical',
width: 'auto',
fit: true
});
});
    </script>
    <!-- //Rersponsive tabs -->
    <!-- flexSlider -->
    <script defer src="~/Temp/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
    </script>

    <!-- //flexSlider -->
    <!-- for bootstrap working -->
    <script src="~/Temp/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
    </script>
    <!-- start-smooth-scrolling -->
    <!-- password-script -->
    <script type="text/javascript">
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}
		function validatePassword(){
			var pass2=document.getElementById("password2").value;
			var pass1=document.getElementById("password1").value;
			if(pass1!=pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
				//empty string means no validation error
		}

    </script>
    <!-- //password-script -->
    <!-- stats -->
    <script src="~/Temp/js/jquery.waypoints.min.js"></script>
    <script src="~/Temp/js/jquery.countup.js"></script>
    <script>
		$('.counter').countUp();
    </script>
    <!-- //stats -->

    @*<script>
        $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
            if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
            }
            var $subMenu = $(this).next(".dropdown-menu");
            $subMenu.toggleClass('show');
            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
                $('.dropdown-submenu .show').removeClass("show");
            });
            return false;
        });
    </script>*@

    <script>
        $(document).ready(function () {

            bsContainerWidth = $("body").find('.container').width()
            if (bsContainerWidth >= 768) {
                $('.navbar-default .navbar-nav > li.dropdown').hover(function () {
                    $('ul.dropdown-menu', this).stop(true, true).slideDown('fast');
                    $(this).addClass('open');
                }, function () {
                    $('ul.dropdown-menu', this).stop(true, true).slideUp('fast');
                    $(this).removeClass('open');
                });
            }
    });
    </script>
</body>
</html>
