﻿<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Design Point Consult</title>
    <link rel="icon" href="~/Temp/images/Logo1.png" type="image/gif" sizes="16x16">
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Design Point Consult Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/Temp/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />


    <!-- //menu -->
    <script type="text/javascript" src="~/Temp/js/jquery-1.11.1.min.js"></script>
    <link type="text/css" rel="stylesheet" href="~/Temp/css/cm-overlay.css">

    <link href="~/Temp/css/Yscroller.css" rel="stylesheet" />


    <link href="~/Temp/css/style.css" rel="stylesheet" type="text/css" media="all" />


    <link href="~/Temp/css/publication_Style.css" rel="stylesheet" />
    <!-- font-awesome-icons -->
    <link href="~/Temp/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    @RenderSection("featured", required: false)
</head>
<body>
    <!-- banner -->
    <div id="home" class="w3ls-banner banner-inner_agile">
        <!-- header -->
        <div class="header-w3l">
            <div class="header-main">
                <div class="header-top-agileits">
                    <div class="container">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <h1 data-aos="fade-down">
                                    <a href="@Url.Action("Index","Home")"><img src="~/Temp/images/logo200.png" class="imglogo"></a>
                                </h1>
                            </div>
                            <!-- navbar-header -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                <ul class="nav navbar-nav navbar-right" data-aos="fade-up">
                                    <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                                    <li class="dropdown menu__item">
                                        <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> About<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Profile", "Index", "About")</li>
                                            <li>@Html.ActionLink("Our Team", "Index", "Team")</li>
                                            <li>@Html.ActionLink("Careers", "Careers", "About")</li>
                                            <li>@Html.ActionLink("Award & Publication", "Award", "About")</li>
                                        </ul>
                                    </li>
                                    <li class="dropdown menu__item">
                                        <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-picture-o" aria-hidden="true"></i> Projects<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Architecture", "Architecture", "Project")</li>
                                            <li>@Html.ActionLink("Urban Design", "UrbanDesign", "Project")</li>
                                            <li>@Html.ActionLink("Town Planning", "TownPlanning", "Project")</li>
                                            <li>@Html.ActionLink("Compitition", "Compitition", "Project")</li>
                                        </ul>
                                    </li>
                                    <li><a href="@Url.Action("Index","Contact")"><i class="fa fa-phone" aria-hidden="true"></i> Contact</a></li>

                                </ul>

                            </div>
                            <div class="clearfix"> </div>
                        </nav>
                    </div>
                </div>

            </div>
            <div class="clearfix"> </div>
            <!-- //Nav -->
        </div>
        <!-- //header -->
    </div>
    <!-- //banner -->
    <!-- //banner -->
    <!-- Modal2 -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <div class="signin-form profile">
                        <h3 class="agileinfo_sign">Login</h3>
                        <div class="login-form">
                            <form action="#" method="post">
                                <input type="email" name="email" placeholder="E-mail" required="">
                                <input type="password" name="password" placeholder="Password" required="">
                                <div class="tp">
                                    <input type="submit" value="Login">
                                </div>
                            </form>
                        </div>
                        <div class="login-social-grids">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                        <p><a href="#" data-toggle="modal" data-target="#myModal3"> Don't have an account?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal2 -->
    <!-- Modal3 -->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <div class="signin-form profile">
                        <h3 class="agileinfo_sign">Register</h3>
                        <div class="login-form">
                            <form action="#" method="post">
                                <input type="text" name="name" placeholder="Username" required="">
                                <input type="email" name="email" placeholder="Email" required="">
                                <input type="password" name="password" placeholder="Password" id="password1" required="">
                                <input type="password" name="password" placeholder="Confirm Password" id="password2" required="">
                                <input type="submit" value="Register">
                            </form>
                        </div>
                        <p><a href="#"> By clicking register, I agree to your terms</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- //Modal3 -->
    @RenderBody()

    <script>
        $(document).ready(function () {

            bsContainerWidth = $("body").find('.container').width()
            if (bsContainerWidth >= 768) {
                $('.navbar-default .navbar-nav > li.dropdown').hover(function () {
                    $('ul.dropdown-menu', this).stop(true, true).slideDown('fast');
                    $(this).addClass('open');
                }, function () {
                    $('ul.dropdown-menu', this).stop(true, true).slideUp('fast');
                    $(this).removeClass('open');
                });
            }
        });
    </script>

    <!-- newsletter -->
    @*<div class="w3layouts_newsletter">
            <div class="container">
                <div class="agileits_w3layouts_heding">
                    <p>Get Updates</p>
                    <h3><span>Don't Forget to </span> Sign Up</h3>
                    <img src="images/head1.png" alt="Lines" />
                </div>
                <div class="w3layouts_newsletter_right">
                    <p class="para-w3layouts white">
                        Quis nostrum exercitationem ullam corporis suscipit
                        laboriosam, nisi ut aliquid ex ea commodi consequatur, Quis autem vel eum iure
                        reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
                    </p>
                    <form action="#" method="post">
                        <input type="text" name="Name" placeholder="Name" required="">
                        <input type="email" name="Email" placeholder="Email Address" required="">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>*@
    <!-- //newsletter -->
    <!-- contact -->
    <div class="w3l_footer">
        <div class="container">
            <div class="col-md-4">
                <h2><a href="@Url.Action("Index","Home")"><img src="~/Temp/images/logo200.png" class="imglogo"></a></h2>
            </div>
            <div class="col-md-8 botttom-nav-agileits">
                <ul class="nav-w3ls">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "Index", "About")</li>
                    <li class="dropdown menu__item">
                        <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Architecture", "Architecture", "Project")</li>
                            <li>@Html.ActionLink("Urban Design", "UrbanDesign", "Project")</li>
                            <li>@Html.ActionLink("Town Planning", "TownPlanning", "Project")</li>
                            <li>@Html.ActionLink("Compitition", "Compitition", "Project")</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Our Team", "Index", "Team")</li>
                    <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                </ul>
                <div class="w3l-social">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://in.linkedin.com/in/b-k-patel-4978ab4b" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a target="_blank" href="https://www.google.co.in/search?dcr=0&amp;source=hp&amp;q=design+point+consult+pvt+ltd&amp;oq=design+point+&amp;gs_l=psy-ab.3.1.0l4.1021.4876.0.6267.13.13.0.0.0.0.303.1880.0j5j3j1.9.0....0...1.1.64.psy-ab..4.9.1880....0.uKq5ByVFpug"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>

                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //contact -->
    <!-- footer -->
    <div class="w3_agile_footer">
        <div class="container">
            <p>© 2018 Design Point Consult. All rights reserved</p>
            <div class="arrow-container animated fadeInDown">
                <a href="#home" class="arrow-2 scroll">
                    <i class="fa fa-angle-up"></i>
                </a>
                <div class="arrow-1 animated hinge infinite zoomIn"></div>
            </div>
        </div>
    </div>
    <!-- //footer -->

    <script type="text/javascript" src="~/Temp/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- portfolio-pop-up -->
    <script type="text/javascript" src="~/Temp/js/simple-lightbox.js"></script>
    <script>
        $(function () {
            var $gallery = $('.w3_agile_portfolio_grid a').simpleLightbox();

            $gallery.on('show.simplelightbox', function () {
                console.log('Requested for showing');
            })
			.on('shown.simplelightbox', function () {
			    console.log('Shown');
			})
			.on('close.simplelightbox', function () {
			    console.log('Requested for closing');
			})
			.on('closed.simplelightbox', function () {
			    console.log('Closed');
			})
			.on('change.simplelightbox', function () {
			    console.log('Requested for change');
			})
			.on('next.simplelightbox', function () {
			    console.log('Requested for next');
			})
			.on('prev.simplelightbox', function () {
			    console.log('Requested for prev');
			})
			.on('nextImageLoaded.simplelightbox', function () {
			    console.log('Next image loaded');
			})
			.on('prevImageLoaded.simplelightbox', function () {
			    console.log('Prev image loaded');
			})
			.on('changed.simplelightbox', function () {
			    console.log('Image changed');
			})
			.on('nextDone.simplelightbox', function () {
			    console.log('Image changed to next');
			})
			.on('prevDone.simplelightbox', function () {
			    console.log('Image changed to prev');
			})
			.on('error.simplelightbox', function (e) {
			    console.log('No image found, go to the next/prev');
			    console.log(e);
			});
        });
    </script>
    <!-- //portfolio-pop-up -->
    <!-- for bootstrap working -->
    <script src="~/Temp/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smooth-scrolling -->
    <!-- password-script -->
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }
        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }

    </script>
    <!-- //password-script -->
    @*<div class="agileinfo-copyright text-center">
            <p>© 2017 Exteriors. All rights reserved | Design by <a href="//w3layouts.com/">W3layouts</a></p>
        </div>*@
    <!-- //footer -->
    <script src="~/Temp/js/jarallax.js"></script>
    <script src="~/Temp/js/SmoothScroll.min.js"></script>
    <script type="text/javascript">
        /* init Jarallax */
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
    </script>
    @*here starts scrolling icon
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                    var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                    };
                */

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>*@

    <!-- start-smoth-scrolling -->
    @*<script type="text/javascript" src="~/Temp/js/move-top.js"></script>*@
    @*<script type="text/javascript" src="~/Temp/js/easing.js"></script>*@
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var url = window.location;
            $('ul.nav a[href="' + url + '"]').addClass('active');
            $('ul.nav a').filter(function () {
                return this.href == url;
            }).addClass('active');
        });
    </script>
    @*@Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)*@
    <!-- /ends-smoth-scrolling -->
    <!-- //here ends scrolling icon -->
    <script src="~/Temp/js/jquery.tools.min.js"></script>
    <script src="~/Temp/js/jquery.mobile.custom.min.js"></script>
    <script src="~/Temp/js/jquery.cm-overlay.js"></script>
    <script src="~/Temp/js/Yscroller.js"></script>



</body>
</html>