﻿@model IEnumerable<DPCWeb.Models.Tbl_AwardImg>

@{
    ViewBag.Title = "Award";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- menu -->
@using (Html.BeginForm())
{

    <div class=" jarallax w3ls-gallery w3ls-section " id="gallery">
        <div class="container">
            <h3 class="h3-w3l">Award</h3>

          <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">


                <div id="myTabContent" class="tab-content">
               
                        <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="Project-tab">
                            <div class="w3_tab_img">

                                @foreach (var item in Model.Where(x => x.Award_Type =="image"))
                                {
                                    <div class="col-sm-3 w3_tab_img_left">
                                        <div class="demo">
                                            <a class="cm-overlay" href="~/Content/images/Award/@item.Award_Img">
                                                <figure class="imghvr-shutter-in-out-diag-2">
                                                    <img src="~/Content/images/Award/@item.Award_Img" alt=" " class="img-responsive" />
                                                </figure>
                                            </a>
                                        </div>
                                        
                                    </div>
                                }


                                <div class="clearfix"> </div>
                            </div>
                        </div>
                  
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $('.cm-overlay').cmOverlay();
                });
             </script>


      
        </div>
    </div>

    <div class=" jarallax w3ls-gallery w3ls-section " id="gallery">
        <div class="container">
            <h3 class="h3-w3l">Certificate</h3>

            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">


                <div id="myTabContent" class="tab-content">

                    <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="Project-tab">
                        <div class="w3_tab_img">

                            @foreach (var item in Model.Where(x => x.Award_Type == "certificate"))
                            {
                                <div class="col-sm-3 w3_tab_img_left">
                                    <div class="demo">
                                        <a class="cm-overlay" href="~/Content/images/Award/@item.Award_Img">
                                            <figure class="imghvr-shutter-in-out-diag-2">
                                                <img src="~/Content/images/Award/@item.Award_Img" alt=" " class="img-responsive" />
                                            </figure>
                                        </a>
                                    </div>

                                </div>
                            }


                            <div class="clearfix"> </div>
                        </div>
                    </div>

                </div>
            </div>

            <script>
                $(document).ready(function () {
                    $('.cm-overlay').cmOverlay();
                });
            </script>
        </div>
    </div>

    <div class=" jarallax w3ls-gallery w3ls-section " id="gallery">
        <div class="container">
            <h3 class="h3-w3l">Publication</h3>

            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">


                <div id="myTabContent" class="tab-content">

                    <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="Project-tab">
                        <div class="w3_tab_img">

                            @foreach (var item in Model.Where(x => x.Award_Type == "publication"))
                            {
                                <div class="col-sm-3 w3_tab_img_left">
                                    <div class="demo">
                                        <a class="cm-overlay" href="~/Content/images/Publication/@item.Award_Img">
                                            <figure class="imghvr-shutter-in-out-diag-2">
                                                <img src="~/Content/images/Publication/@item.Award_Img" alt=" " class="img-responsive" />
                                            </figure>
                                        </a>
                                    </div>

                                </div>
                            }


                            <div class="clearfix"> </div>
                        </div>
                    </div>

                </div>
            </div>

            <script>
                $(document).ready(function () {
                    $('.cm-overlay').cmOverlay();
                });
            </script>
        </div>
    </div>



    @*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">
            function myfunc() {
                    document.forms[0].submit();
                    return false;
                }
        </script>*@
    <script>

        $('.select-link').click(function () {
            var newVal = $(this).attr('id');

            //$.ajax({
            //    url: '/Project/Architecture',
            //    data: { 'id': newVal,},
            //    type: "post",
            //    cache: false

            //});
        });

    </script>
    <!-- //menu -->


}






   
