﻿@{
    ViewBag.Title = "Careers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="features">
    <div class="container">
        <div class="agileits_w3layouts_heding">
            <h3>CURRENT<span> OPENINGS</span></h3>
            <img src="/Temp/images/head1.png" alt="Lines">
        </div>
        <div class="well">
            "If you are excited about our opportunities, please email a CV and a covering letter explaining why you believe you would be a great candidate for Design Point Consult Pvt.Ltd to mail@dpcplanning.com "
        </div>
        @*<div class="grid_3 grid_5 agile">
            <h3>SENIOR ARCHITECT - (Surat)</h3>
            <div class="well">
                <h5>Responsibilities:</h5>
                <ul class="list-group w3-agile">
                    <li class="list-group-item">Conceptualize &amp; develop designs </li>
                    <li class="list-group-item">Compliance to specific standards, guidelines &amp; regulations</li>
                    <li class="list-group-item">Site Visit &amp; Monitoring Projects</li>
                    <li class="list-group-item">Lead the CAD team </li>
                    <li class="list-group-item">Understanding of Building &amp; finishing material</li>
                    <li class="list-group-item">Sourcing of various innovative material</li>
                </ul>
                <h5>Number of Openings : 2</h5>
                <h5>Experience Required : At least 3-4 years of relevant industry experience is required</h5>
                <h5>Minimum Qualifications : B.Arch - Architecture</h5>
                <h5>Skills Required : Architectural Design, Architectural detailing</h5>
            </div>
            
        </div>
        <div class="grid_3 grid_5 agile">
            <h3>SENIOR C# DEVELOPER - (Surat)</h3>
            <div class="well">
                <h5>Roles & Responsibilities:</h5>
                <ul class="list-group w3-agile">
                    <li class="list-group-item">Analyze, design, implement and integrate functional requirements in the solutions.</li>
                    <li class="list-group-item">Deliver fully tested source code complying with quality indicators objectives. </li>
                    <li class="list-group-item">Develop new functionality on our existing software products.</li>
                    <li class="list-group-item">Maintaining and supporting multiple projects and deadlines.</li>
                    <li class="list-group-item">Ability to communicate clearly with clients. </li>
                    <li class="list-group-item">Working within a Team to determine needs and applying / customizing existing technology to meet those needs.</li>
                    <li class="list-group-item">Proper Reporting & Documentation.</li>
                </ul>
                <h5>Number of Openings : 2</h5>
                <h5>Experience Required : Minimum 1 to 3 years experience in any architectural firm</h5>
                <h5>Minimum Qualifications : B.Arch - Architecture</h5>
                <h5>Skills Required : </h5>
                <ul class="list-group w3-agile">
                    <li class="list-group-item">Should have a strong knowledge of OOPS.</li>
                    <li class="list-group-item">Proven experience with Microsoft .NET technologies including, VB.NET, ASP.NET, MVC, Entity Framework.</li>
                    <li class="list-group-item">Proven Skills with C#, SQL, JavaScript/DHTML, HTML-CSS, AJAX, jQuery, Web Services, etc.</li>
                    <li class="list-group-item">Ability to complete all phases of software development life cycle including analysis, design, functionality, testing and support.</li>
                    <li class="list-group-item">Ability to develop large scale web/database application.</li>
                    <li class="list-group-item">Should have working knowledge of using a latest development tools and techniques.</li>
                    <li class="list-group-item">Basic knowledge of front end UI design preferred.</li>
                    <li class="list-group-item">Must have good problem solving and analysis skills.</li>
                    <li class="list-group-item">Must be a team player, having good communication skills in English, self-starter.</li>
                </ul>

                
</div>

        </div>

        <div class="grid_3 grid_5 agile">
            <h3>SOFTWARE DEVELOPER (VISUAL C++) - (Surat)</h3>
            <div class="well">
                <h5>Roles & Responsibilities:</h5>
                <ul class="list-group w3-agile">
                    <li class="list-group-item">Analyze, design, implement and integrate functional requirements in the solutions.</li>
                    <li class="list-group-item">Deliver fully tested source code complying with quality indicators objectives.</li>
                    <li class="list-group-item">Ability to communicate clearly with clients.</li>
                    <li class="list-group-item">Working within a Team to determine needs and applying / customizing existing technology to meet those needs.</li>
                    <li class="list-group-item">Proper Reporting & Documentation.</li>
                </ul>
                <h5>Number of Openings : 2</h5>
                <h5>Experience Required : At least 2-5 years of relevant industry experience is required</h5>
                <h5>Minimum Qualifications : B.E / B.Tech / M.C.A / M.Sc / M.E / M.Tech</h5>
                <h5>Skills Required : </h5>
                <ul class="list-group w3-agile">
                    <li class="list-group-item">Good Understanding of C++, Object ARX</li>
                    <li class="list-group-item">Good Understanding of object-oriented Programming (OOPs Concepts)</li>
                    <li class="list-group-item">Hands on experience Of Designing and Developing Application on Visual C++</li>
                    <li class="list-group-item">Should Have Analytical Skills</li>
                </ul>


            </div>

        </div>*@
    </div>

</div>
@*<div class="middle-section-agileits-w3layouts">
    <div class="container">
        <h3 class="subheading-agileits-w3layouts two white-w3ls">Want To Be A <span>Piece Of Us?</span></h3>

        <div class="wthree_more wthree_more1">
            <a href="/Contact">Contact Us</a>
        </div>
    </div>
</div>*@
