﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
        <div class="w3ls_banner_bottom_grid1">
            <div class="col-md-6 w3l_banner_bottom_left">
                <img src="~/Temp/images/about.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="col-md-6 w3l_banner_bottom_right">
                <h3 class="subheading-agileits-w3layouts two">welcome to <span>Design Point Consult</span></h3>
                
                <ul>
                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i>20 Years+ experience</li>
                    <li><a href="https://drive.google.com/uc?id=10yQbKxYS_598WkggcP3F0Ed3TfhmznbH&export=download" target="_blank"><span class="label label-success">Download Profile</span></a></li>
                   
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
      

        <div class="grid_3 grid_5 agile">
            <h3>ESTABLISHMENT</h3>
            <div class="well">
                Our firm has its beginnings in the year 1993 as Design Point. It was subsequently restructured as Design Point Vision India Consult to accommodate all its various work spheres within similar setup. Originally founded as a consulting firm in the field of Architecture and Town Planning; DPC Pvt. Ltd. has grown to become a multidisciplinary design team due to its commitment to client service and quality design. Currently we are going through the process of consolidation and are truly poised towards International networking.
            </div>
            <h3>SCALE & RANGE OF PROJECTS</h3>
            <div class="well">
                <h4>Town Planning</h4>
                The planning and control of the construction, growth, and development of a town or other urban area.
            </div>
            <div class="well">
                <h4>Infrastructure Development</h4>
                Infrastructure is the basic physical systems of a business or nation. Transportation, communication, sewage, water and electric systems are all examples of infrastructure. These systems tend to be high-cost investments, however, they are vital to a country's economic development and prosperity.
            </div>
            <div class="well">
                <h4>Urban Design</h4>
                Urban design is the process of shaping the physical setting for life in cities, towns and villages. It is the art of making places. It involves the design of buildings, groups of buildings, spaces and landscapes, and establishing the processes that make successful development possible. 
            </div>
            <h3>EXPERIENCE</h3>
            <div class="well">
                To provide complete basic infrastructure to encourage economic growth through strategic development of roads to promote social upliftment and improvement of quality of life experienced by the people of Jaisingpur Identification of projects aimed at triggering urban development 
            </div>

            <h3>NOTIONS</h3>
            <div class="well">
                The design shall be understood as an integrated study and research of various parameters of urban services, built environment, ecological and environmental criteria, and sensitive zones. The aim would be to achieve a sustainable solution. It will begin by establishing the priorities and defining the scope of work. The Master plan would generate a clear statement of purpose and intend within the defined parameters. It is also a prime issue to take a feedback from the emerging issues within the planning boundaries thus establishing strong concerns for the project proposal. 
                <br /><br />The final proposal is based on the preliminary discussion and consultation with expert agencies providing the technical base. The economic feasibility has to be checked with the vulnerability of fiscal strategies available with the authority and agency for implementation. The detail mechanism for implementation of the project and the time span mapping for the most efficient results would be done with agency participation.
            </div>
          
           
        </div>


    </div>
</div>
<!-- //banner-bottom -->


<!--middle-section -->

<!--//middle-section -->
<!-- newsletter -->

<!-- //newsletter -->

<script type="text/javascript">
    $(document).ready(function () {
        var url = window.location;
        $('ul.nav a[href="' + url + '"]').addClass('active');
        $('ul.nav a').filter(function () {
            return this.href == url;
        }).addClass('active');
    });
</script>

