﻿@model DPCWeb.Models.EntityProject


@{
    ViewBag.Title = "Architecture";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int mid = 0;
    
}

<!-- menu -->
@using (Html.BeginForm())
{

<div class=" jarallax w3ls-gallery w3ls-section " id="gallery">
    <div class="container">
        <h3 class="h3-w3l">Projects</h3>
       
            <div class="scroller scroller-left"><i class="glyphicon glyphicon-chevron-left"></i></div>
            <div class="scroller scroller-right"><i class="glyphicon glyphicon-chevron-right"></i></div>
            <div class="wrapper">
                <ul class="nav nav-tabs list" id="myTab">
                    <li role="presentation" class="active"><a href="#home-main" id="home-tab" role="tab" data-toggle="tab" aria-controls="home-main" aria-expanded="true">All</a></li>
                    @foreach (var item in Model.Project)
                    {
                        <li role="presentation"><a href="#@item.Project_Id" class="select-link" data-content="@item.Project_Id" role="tab" data-toggle="tab" id="Project-tab" aria-controls="@item.Project_Id" aria-expanded="true">@item.Project_Name</a></li>

                    }
                </ul>
            </div>

        

        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
            
            
            <div id="myTabContent" class="tab-content">

                <div role="tabpanel" class="tab-pane fade active in" id="home-main" aria-labelledby="home-tab">
                    <div class="w3_tab_img">

                        @foreach (var item in Model.Project_WithImages)
                        {
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="w3-card">
                                    <div class="demo">
                                        <a href="#@item.Project_Id" class="select-link" data-content="@item.Project_Id" role="tab" data-toggle="tab" id="Project-tab" aria-controls="@item.Project_Id" aria-expanded="true">
                                            <figure class="imghvr-shutter-in-out-diag-2">
                                                <img src="@item.Project_Imgsrc" alt=" " class="img-responsive" />
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="agile-gallery-info">
                                        <h4>@item.Project_Name</h4>
                                        <p>@item.Project_Status</p>
                                    </div>
                                </div>
                            </div>
                        }


                        <div class="clearfix"> </div>
                    </div>
                </div>
 


                @foreach (var i in Model.Project.Select(s => s.Project_Id))
                {
                    <div role="tabpanel" class="tab-pane fade" id="@i" aria-labelledby="Project-tab">
                        <div class="w3_tab_img">

                            @foreach (var item in Model.Projectimages.Where(x => x.Project_Id == i))
                            {
                                <div class="col-sm-3 w3_tab_img_left">
                                    <div class="w3-card">
                                        <div class="demo">
                                            <a class="@item.Project_Id" href="@item.Project_Imgsrc">
                                                <figure class="imghvr-shutter-in-out-diag-2">
                                                    <img src="@item.Project_Imgsrc" alt=" " class="img-responsive" />
                                                </figure>
                                            </a>
                                        </div>
                                        <div class="agile-gallery-info">
                                            <h4>@item.Tbl_Project.Project_Name</h4>
                                            <p>@item.Tbl_Project.Project_Status</p>
                                        </div>
                                    </div>
                                </div>
                            }


                            <div class="clearfix"> </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



    @*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        function myfunc() {
                document.forms[0].submit();
                return false;
            }
    </script>*@
    @*<script>

        $('.select-link').click(function () {
            var newVal = $(this).attr('id');
      
            //$.ajax({
            //    url: '/Project/Architecture',
            //    data: { 'id': newVal,},
            //    type: "post",
            //    cache: false
                
            //});
        });

    </script>*@
    
      <script>
            $('.select-link').click(function () {
                var a = jQuery(this).attr('data-content');
                $('.' + a + '').cmOverlay();
            });

        </script>
<!-- //menu -->


}