﻿

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>*@
<!-- banner-bottom -->
<!-- menu -->


<div class=" jarallax w3ls-gallery w3ls-section " id="gallery">
    <div class="container">
        <h3 class="h3-w3l">gallery</h3>
        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home-main" id="home-tab" role="tab" data-toggle="tab" aria-controls="home-main" aria-expanded="true">All</a></li>
                <li role="presentation"><a href="#learning" role="tab" id="learning-tab" data-toggle="tab" aria-controls="learning">Type 1</a></li>
                <li role="presentation"><a href="#playing" role="tab" id="playing-tab" data-toggle="tab" aria-controls="playing">Type 2</a></li>
                <li role="presentation"><a href="#painting" role="tab" id="painting-tab" data-toggle="tab" aria-controls="painting">Type 3</a></li>
                <li role="presentation"><a href="#school" role="tab" id="school-tab" data-toggle="tab" aria-controls="school">Type 4</a></li>
                <li role="presentation"><a href="#sschool" role="tab" id="school-tab" data-toggle="tab" aria-controls="school">Type 5</a></li>
                <li role="presentation"><a href="#sschool" role="tab" id="school-tab" data-toggle="tab" aria-controls="school">Type 5</a></li>
                <li role="presentation"><a href="#sschool" role="tab" id="school-tab" data-toggle="tab" aria-controls="school">Type 5</a></li> 
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home-main" aria-labelledby="home-tab">
                    <div class="w3_tab_img">
                        <div class="col-sm-3 w3_tab_img_left">
                            <div class="demo">
                                <a class="cm-overlay" href="~/Temp/images/banner1.jpg">
                                    <figure class="imghvr-shutter-in-out-diag-2">
                                        <img src="~/Temp/images/banner1.jpg" alt=" " class="img-responsive" />
                                    </figure>
                                </a>
                            </div>
                            <div class="agile-gallery-info">
                                <h5>Lorem</h5>
                                <p>Consectetur</p>
                            </div>
                        </div>
                        <div class="col-sm-3 w3_tab_img_left">
                            <div class="demo">
                                <a class="cm-overlay" href="~/Temp/images/banner2.jpg">
                                    <figure class="imghvr-shutter-in-out-diag-2">
                                        <img src="~/Temp/images/banner2.jpg" alt=" " class="img-responsive" />
                                    </figure>
                                </a>
                            </div>
                            <div class="agile-gallery-info">
                                <h5>Ipsum</h5>
                                <p>Adipiscing </p>
                            </div>
                        </div>
                        <div class="col-sm-3 w3_tab_img_left">
                            <div class="demo">
                                <a class="cm-overlay" href="~/Temp/images/banner3.jpg">
                                    <figure class="imghvr-shutter-in-out-diag-2">
                                        <img src="~/Temp/images/banner3.jpg" alt=" " class="img-responsive" />
                                    </figure>
                                </a>
                            </div>
                            <div class="agile-gallery-info">
                                <h5>Vivamus</h5>
                                <p>Ullamcorper  </p>
                            </div>
                        </div>
                        <div class="col-sm-3 w3_tab_img_left">
                            <div class="demo">
                                <a class="cm-overlay" href="~/Temp/images/banner3.jpg">
                                    <figure class="imghvr-shutter-in-out-diag-2">
                                        <img src="~/Temp/images/banner3.jpg" alt=" " class="img-responsive" />
                                    </figure>
                                </a>
                            </div>
                            <div class="agile-gallery-info">
                                <h5>Fusce</h5>
                                <p>Tristique</p>
                            </div>
                        </div>
                        <div class="col-sm-3 w3_tab_img_left">
                            <div class="demo">
                                <a class="cm-overlay" href="~/Temp/images/g5.jpg">
                                    <figure class="imghvr-shutter-in-out-diag-2">
                                        <img src="~/Temp/images/g5.jpg" alt=" " class="img-responsive" />
                                    </figure>
                                </a>
                            </div>
                            <div class="agile-gallery-info">
                                <h5>Nullam</h5>
                                <p>accumsan</p>
                            </div>
                        </div>
                        <div class="col-sm-3 w3_tab_img_left">
                            <div class="demo">
                                <a class="cm-overlay" href="~/Temp/images/g6.jpg">
                                    <figure class="imghvr-shutter-in-out-diag-2">
                                        <img src="~/Temp/images/g6.jpg" alt=" " class="img-responsive" />
                                    </figure>
                                </a>
                            </div>
                            <div class="agile-gallery-info">
                                <h5>Donec</h5>
                                <p>Vulputate</p>
                            </div>
                        </div>
                        <div class="col-sm-3 w3_tab_img_left">
                            <div class="demo">
                                <a class="cm-overlay" href="~/Temp/images/g7.jpg">
                                    <figure class="imghvr-shutter-in-out-diag-2">
                                        <img src="~/Temp/images/g7.jpg" alt=" " class="img-responsive" />
                                    </figure>
                                </a>
                            </div>
                            <div class="agile-gallery-info">
                                <h5>Vivamus</h5>
                                <p>Sodales</p>
                            </div>
                        </div>
                        <div class="col-sm-3 w3_tab_img_left">
                            <div class="demo">
                                <a class="cm-overlay" href="~/Temp/images/g1.jpg">
                                    <figure class="imghvr-shutter-in-out-diag-2">
                                        <img src="~/Temp/images/g1.jpg" alt=" " class="img-responsive" />
                                    </figure>
                                </a>
                            </div>
                            <div class="agile-gallery-info">
                                <h5>Morbi</h5>
                                <p>Ornare </p>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="learning" aria-labelledby="learning-tab">
                    <div class="w3_tab_img">
                        <div class="col-sm-3 w3_tab_img_left">
                            <div class="demo">
                                <a class="cm-overlay" href="~/Temp/images/g3.jpg">
                                    <figure class="imghvr-shutter-in-out-diag-2">
                                        <img src="~/Temp/images/g3.jpg" alt=" " class="img-responsive">
                                    </figure>
                                </a>
                            </div>
                            <div class="agile-gallery-info">
                                <h5>Vivamus</h5>
                                <p>Eleifend</p>
                            </div>
                        </div>
                        <div class="col-sm-3 w3_tab_img_left">
                            <div class="demo">
                                <a class="cm-overlay" href="~/Temp/images/g4.jpg">
                                    <figure class="imghvr-shutter-in-out-diag-2">
                                        <img src="~/Temp/images/g4.jpg" alt=" " class="img-responsive">
                                    </figure>
                                </a>
                            </div>
                            <div class="agile-gallery-info">
                                <h5>Cras</h5>
                                <p>Pulvinar</p>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="playing" aria-labelledby="playing-tab">
                    <div class="w3_tab_img">
                        <div class="col-sm-3 w3_tab_img_left">
                            <div class="demo">
                                <a class="cm-overlay" href="~/Temp/images/g5.jpg">
                                    <figure class="imghvr-shutter-in-out-diag-2">
                                        <img src="~/Temp/images/g5.jpg" alt=" " class="img-responsive">
                                    </figure>
                                </a>
                            </div>
                            <div class="agile-gallery-info">
                                <h5>Maecenas</h5>
                                <p>Blandit</p>
                            </div>
                        </div>
                        <div class="col-sm-3 w3_tab_img_left">
                            <div class="demo">
                                <a class="cm-overlay" href="~/Temp/images/g6.jpg">
                                    <figure class="imghvr-shutter-in-out-diag-2">
                                        <img src="~/Temp/images/g6.jpg" alt=" " class="img-responsive">
                                    </figure>
                                </a>
                            </div>
                            <div class="agile-gallery-info">
                                <h5>Sodales</h5>
                                <p>Vivamus</p>
                            </div>
                        </div>
                        <div class="col-sm-3 w3_tab_img_left">
                            <div class="demo">
                                <a class="cm-overlay" href="~/Temp/images/g7.jpg">
                                    <figure class="imghvr-shutter-in-out-diag-2">
                                        <img src="~/Temp/images/g7.jpg" alt=" " class="img-responsive">
                                    </figure>
                                </a>
                            </div>
                            <div class="agile-gallery-info">
                                <h5>Vivamus</h5>
                                <p>Eleifend</p>
                            </div>
                        </div>
                        <div class="col-sm-3 w3_tab_img_left">
                            <div class="demo">
                                <a class="cm-overlay" href="~/Temp/images/g1.jpg">
                                    <figure class="imghvr-shutter-in-out-diag-2">
                                        <img src="~/Temp/images/g1.jpg" alt=" " class="img-responsive">
                                    </figure>
                                </a>
                            </div>
                            <div class="agile-gallery-info">
                                <h5>Maecenas</h5>
                                <p>Blandit</p>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="painting" aria-labelledby="painting-tab">
                    <div class="w3_tab_img">
                        <div class="col-sm-3 w3_tab_img_left">
                            <div class="demo">
                                <a class="cm-overlay" href="~/Temp/images/g2.jpg">
                                    <figure class="imghvr-shutter-in-out-diag-2">
                                        <img src="~/Temp/images/g2.jpg" alt=" " class="img-responsive">
                                    </figure>
                                </a>
                            </div>
                            <div class="agile-gallery-info">
                                <h5>Morbi</h5>
                                <p>Ornare </p>
                            </div>
                        </div>
                        <div class="col-sm-3 w3_tab_img_left">
                            <div class="demo">
                                <a class="cm-overlay" href="~/Temp/images/g3.jpg">
                                    <figure class="imghvr-shutter-in-out-diag-2">
                                        <img src="~/Temp/images/g3.jpg" alt=" " class="img-responsive">
                                    </figure>
                                </a>
                            </div>
                            <div class="agile-gallery-info">
                                <h5>Cras</h5>
                                <p>Pulvinar</p>
                            </div>
                        </div>
                        <div class="col-sm-3 w3_tab_img_left">
                            <div class="demo">
                                <a class="cm-overlay" href="~/Temp/images/g4.jpg">
                                    <figure class="imghvr-shutter-in-out-diag-2">
                                        <img src="~/Temp/images/g3.jpg" alt=" " class="img-responsive">
                                    </figure>
                                </a>
                            </div>
                            <div class="agile-gallery-info">
                                <h5>Donec</h5>
                                <p>Vulputate</p>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="school" aria-labelledby="school-tab">
                    <div class="w3_tab_img">
                        <div class="col-sm-3 w3_tab_img_left">
                            <div class="demo">
                                <a class="cm-overlay" href="~/Temp/images/g5.jpg">
                                    <figure class="imghvr-shutter-in-out-diag-2">
                                        <img src="~/Temp/images/g5.jpg" alt=" " class="img-responsive">
                                    </figure>
                                </a>
                            </div>
                            <div class="agile-gallery-info">
                                <h5>Lorem</h5>
                                <p>Consectetur</p>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            $(document).ready(function () {
                $('.cm-overlay').cmOverlay();
            });
        </script>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var url = window.location;
        $('ul.nav a[href="' + url + '"]').addClass('active');
        $('ul.nav a').filter(function () {
            return this.href == url;
        }).addClass('active'); 
    });
</script>
<!-- //menu -->
<!-- //banner-bottom -->