﻿@model IEnumerable<DPCWeb.Models.Tbl_Project>

@{
    ViewBag.Title = "viewdata";
}

<h2>viewdata</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menu_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project_Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menu_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project_Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
