﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--contact-page-->
<!--address-->
<div class="agileits_footer_nav_bottom">
    <div class="container">
        <div class="col-md-4 w3ls_footer_nav_bottom_left">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>+91-261-2464602</p>
            <br />
        </div>
        <div class="col-md-4 w3ls_footer_nav_bottom_left">
            <i class="fa fa-home" aria-hidden="true"></i>
            <p>607- 610, B-Wing,Tirupati Plaza,
Athwa Gate,Surat, Gujarat 395001-India</p>
        </div>
        <div class="col-md-4 w3ls_footer_nav_bottom_left">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <p><a href="mailto:info@maria.com">mail@dpcplanning.com</a></p>
            <br />
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--//address-->
<div class="map-agileits-w3layouts">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3128.233733667054!2d72.80887672915588!3d21.187478316679464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04e7a197e0865%3A0x6f827510626b6107!2sTirupati+Plaza%2C+Timiliyawad+Rd%2C+Kharwawad%2C+Nanpura%2C+Surat%2C+Gujarat+395001!5e0!3m2!1sen!2sin!4v1528886800086" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<!--//contact-page-->
<script type="text/javascript">
    $(document).ready(function () {
        var url = window.location;
        $('ul.nav a[href="' + url + '"]').addClass('active');
        $('ul.nav a').filter(function () {
            return this.href == url;
        }).addClass('active');
    });
</script>
