﻿@model DPCWeb.Models.AdminLogin
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@using (Html.BeginForm("Index", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
<div class="main-page login-page ">
    <h2 class="title1">Login</h2>
    <div class="widget-shadow">
        <div class="login-body">
            <form action="#" method="post">
                @Html.EditorFor(model => model.Admin_Name, new { htmlAttributes = new { @class = "user", type = "text", placeholder = "Enter Your Id", required = "" } })
                @Html.ValidationMessageFor(model => model.Admin_Name, "", new { @class = "text-danger" })
                @*<input type="email" class="user" name="email" placeholder="Enter Your Id">*@
                @*<input type="password" name="password" class="lock" placeholder="Password">*@
                @Html.EditorFor(model => model.Admin_Password, new { htmlAttributes = new { @class = "lock", type = "password", placeholder = "Password", required = "" } })
                @Html.ValidationMessageFor(model => model.Admin_Password, "", new { @class = "text-danger" })
                <div class="forgot-grid">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Remember me</label>
                  
                    <div class="clearfix"> </div>
                </div>
                <input type="submit" name="Sign In" value="Sign In">
                <label>@ViewBag.ermsg</label>
              
            </form>
        </div>
    </div>

</div>
}
