﻿.wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
	padding:5px;
  	height:56px;
}

.list {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3000px;
  	margin-left:12px;
    margin-top:0px;
}

.list li{
	display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:11px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}


@media screen and (max-width: 384px){
.wrapper {
    position:relative;
    margin:0 auto;
    overflow:-webkit-paged-x;
	padding:5px;
  	height:45px;
    }
}

@media screen and (max-width: 768px){
.wrapper {
    position:relative;
    margin:0 auto;
    overflow:-webkit-paged-x;
	padding:5px;
  	height:45px;
    }
}

@media screen and (max-width: 384px){
.list {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:max-content;
  	margin-left:12px;
    margin-top:0px;
}
}